<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <filter>
    <filter-name>FrontFilter</filter-name>
    <filter-class>front.FrontFilter</filter-class>
  </filter>
  <filter>
    <filter-name>AdminFilter</filter-name>
    <filter-class>admin.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FrontFilter</filter-name>
    <url-pattern>/front/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/front/admin/*</url-pattern>
  </filter-mapping>
  
  
  
  <servlet>
    <servlet-name>LoginCheck</servlet-name>
    <servlet-class>website.LoginCheck</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminLoginCheck</servlet-name>
    <servlet-class>front.AdminLoginCheck</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminStaffList</servlet-name>
    <servlet-class>cn.edu.bupt.anm.serv.AdminStaffServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StaffList</servlet-name>
    <servlet-class>cn.edu.bupt.anm.serv.StaffServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FrontEditPswd</servlet-name>
    <servlet-class>front.EditPswd</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FrontLogOut</servlet-name>
    <servlet-class>front.LogOut</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TaskList</servlet-name>
    <servlet-class>cn.edu.bupt.anm.serv.TaskServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BaseList</servlet-name>
    <servlet-class>cn.edu.bupt.anm.serv.BaseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>database</servlet-name>
    <servlet-class>cn.edu.bupt.anm.serv.DatabaseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NewsList</servlet-name>
    <servlet-class>cn.edu.bupt.anm.serv.NewsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddPic</servlet-name>
    <servlet-class>front.AddPic</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelPic</servlet-name>
    <servlet-class>front.DelPic</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogList</servlet-name>
    <servlet-class>cn.edu.bupt.anm.serv.LogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCheck</servlet-name>
    <url-pattern>/LoginCheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminLoginCheck</servlet-name>
    <url-pattern>/front/AdminLoginCheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminStaffList</servlet-name>
    <url-pattern>/front/admin/AdminStaffList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StaffList</servlet-name>
    <url-pattern>/front/houtai/StaffList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FrontEditPswd</servlet-name>
    <url-pattern>/front/EditPswd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FrontLogOut</servlet-name>
    <url-pattern>/front/LogOut</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TaskList</servlet-name>
    <url-pattern>/front/houtai/TaskList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BaseList</servlet-name>
    <url-pattern>/front/houtai/BaseList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>database</servlet-name>
    <url-pattern>/front/houtai/database</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewsList</servlet-name>
    <url-pattern>/front/houtai/NewsList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddPic</servlet-name>
    <url-pattern>/front/houtai/AddPic</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelPic</servlet-name>
    <url-pattern>/front/houtai/DelPic</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogList</servlet-name>
    <url-pattern>/front/admin/LogList</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <login-config>
    <auth-method>BASIC</auth-method>
  </login-config>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>
  		org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
  	</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>*.action</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>ycSearch</servlet-name>
    <servlet-class>zlq.servlet.ycSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ycSearch</servlet-name>
    <url-pattern>/front/ycSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>elecSearch</servlet-name>
    <servlet-class>zlq.servlet.elecSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>elecSearch</servlet-name>
    <url-pattern>/front/elecSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>xjSearch</servlet-name>
    <servlet-class>zlq.servlet.XjSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xjSearch</servlet-name>
    <url-pattern>/front/xjSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>upLoad</servlet-name>
    <servlet-class>zlq.servlet.UploadfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upLoad</servlet-name>
    <url-pattern>/upLoad</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BaseMX</servlet-name>
    <servlet-class>zlq.servlet.BaseMXServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaseMX</servlet-name>
    <url-pattern>/front/BaseMX</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>toExcelBytime</servlet-name>
    <servlet-class>zlq.servlet.toExcelBytimeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>toExcelBytime</servlet-name>
    <url-pattern>/front/toExcelBytime</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>toExcelBybase</servlet-name>
    <servlet-class>zlq.servlet.toExcelBybaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>toExcelBybase</servlet-name>
    <url-pattern>/front/toExcelBybase</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>toExcelBychecker</servlet-name>
    <servlet-class>zlq.servlet.toExcelBycheckerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>toExcelBychecker</servlet-name>
    <url-pattern>/front/toExcelBychecker</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>toExcelByMonth</servlet-name>
    <servlet-class>zlq.servlet.toExcelByMonthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>toExcelByMonth</servlet-name>
    <url-pattern>/front/toExcelByMonth</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>toExcelyc</servlet-name>
    <servlet-class>zlq.servlet.toExcelycServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>toExcelyc</servlet-name>
    <url-pattern>/front/toExcelyc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>toExcelxj</servlet-name>
    <servlet-class>zlq.servlet.toExcelxjServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>toExcelxj</servlet-name>
    <url-pattern>/front/toExcelxj</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>toExcelxjMX</servlet-name>
    <servlet-class>zlq.servlet.toExcelxjMXServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>toExcelxjMX</servlet-name>
    <url-pattern>/front/toExcelxjMX</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>toExcelnoxj</servlet-name>
    <servlet-class>zlq.servlet.toExcelnoxjServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>toExcelnoxj</servlet-name>
    <url-pattern>/front/toExcelnoxj</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>toExcelycMX</servlet-name>
    <servlet-class>zlq.servlet.toExcelycMXServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>toExcelycMX</servlet-name>
    <url-pattern>/front/toExcelycMX</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ycSearchMX</servlet-name>
    <servlet-class>zlq.servlet.ycSearchMXServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ycSearchMX</servlet-name>
    <url-pattern>/front/ycSearchMX</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>xjMX</servlet-name>
    <servlet-class>zlq.servlet.xunjianMXServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xjMX</servlet-name>
    <url-pattern>/front/xjMX</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>noxjMX</servlet-name>
    <servlet-class>zlq.servlet.noxunjianMXServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>noxjMX</servlet-name>
    <url-pattern>/front/noxjMX</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>xjback</servlet-name>
    <servlet-class>zlq.servlet.xunjianBackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xjback</servlet-name>
    <url-pattern>/front/xjback</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ycSearchchang</servlet-name>
    <servlet-class>zlq.servlet.ycSearchchangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ycSearchchang</servlet-name>
    <url-pattern>/front/ycSearchchang</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>elecSearchchang</servlet-name>
    <servlet-class>zlq.servlet.elecSearchchangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>elecSearchchang</servlet-name>
    <url-pattern>/front/elecSearchchang</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>ElecDel</servlet-name>
    <servlet-class>zlq.servlet.ElecDelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ElecDel</servlet-name>
    <url-pattern>/front/ElecDel</url-pattern>
  </servlet-mapping>
</web-app>